H2 {
padding: 10px;

}

.col-md-3 {
padding: 2em;
}

.card-body {
    padding: 2em;
}

body {
    background-color: grey;
}

.b2 {
    background-color: white;
    padding: 1em;
}

.card2
{
    bottom: 0;
position: absolute;
width: 100%;
}

.card-header2 {
    text-align: center;
}